  <mat-tab-group (selectedTabChange)="tabChanged($event)">
    <ng-container  *ngFor="let obj of tabLabels">
    <mat-tab class="mat-label" [label]="obj.label">
      <div class="example-small-box mat-elevation-z4">
        
          <h1>{{obj.label}}</h1>

              <form #f="ngForm" (ngSubmit)="onSubmit(f)" >
                  <input name="regNum" autocomplete="off" ngModel type="text" class="form-control" #regNum="ngModel" (keyup)="checkLength($event)">
                  <p [hidden]="!regNum.dirty">Please enter valid regNum</p>
                  <button [id]="obj.id" [disabled]="!f.valid" (click)="callApiService($event)">Submit</button>
                </form>
                <p>toucchec:{{regNum.dirty}}</p>
                <p>valid:{{regNum.pristine}}</p>


          <app-result [isLoading]= "isLoading" [showOverlay]="showOverlay" [data]="dataArr"></app-result>

      </div>
    </mat-tab>
  </ng-container >
  </mat-tab-group>  


