.example-small-box {
  display: flex;
  flex-direction: column;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}

.example-small-box {
    height: 500px;
    width: 500px;
    margin-left: 425px;
    margin-top: 50px;
}

.show {
  display: block;
}
